<div class="meeting-screen-outer-wrapper">
    <div class="chat-box-wrapper" *ngIf="chatBoxToggle">
        <app-chat-box></app-chat-box>
    </div>
    <div class="participant-box-wrapper" *ngIf="partcipantBoxToggle">
        <app-participant-box></app-participant-box>
    </div>
    <div class="share-screen-box-wrapper" *ngIf="shareToggle">
        <app-share-screen></app-share-screen>
    </div>
    <div class="add-invite-box-wrapper" *ngIf="inviteToggle">
        <app-add-invite></app-add-invite>
    </div>
    <div class="meeting-left-screen" *ngIf="layoutToggle">
        <div class="person-wrapper">
            <div class="person-elements">
                <span class="element mic"><img src="assets/mic11.png"></span>
                <span class="element"><img src="assets/video.svg"></span>
                <span class="element"><img src="assets/pan_tool-24px.svg"></span>
                <span class="name element">Nandi</span>
            </div>
        </div>
        <div class="person-wrapper">
            <div class="person-elements">
                <span class="element mic mic-off"><img src="assets/mic-off.svg"></span>
                <span class="element"><img src="assets/video0n.svg"></span>
                <span class="element"><img src="assets/pan-off.svg"></span>
                <span class="name element">Nandi</span>
            </div>
        </div>
        <div class="person-wrapper">
            <div class="person-elements">
                <span class="element mic"><img src="assets/mic11.png"></span>
                <span class="element"><img src="assets/video.svg"></span>
                <span class="element"><img src="assets/pan_tool-24px.svg"></span>
                <span class="name element">Nandi</span>
            </div>
        </div>
        <div class="person-wrapper">
            <div class="person-elements">
                <span class="element mic"><img src="assets/mic11.png"></span>
                <span class="element"><img src="assets/video.svg"></span>
                <span class="element"><img src="assets/pan_tool-24px.svg"></span>
                <span class="name element">Nandi</span>
            </div>
        </div>
    </div>
    <div class="meeting-right-float-screen" *ngIf="floatpanelToggle">
        <div class="float-screen-wrapper">
            <div class="image-text-wrapper" (click)="invite()">
                <div class="float-image">
                    <img src="assets/group-line.svg">
                </div>
                <div class="float-text">
                    Invite
                </div>
            </div>
            <div class="image-text-wrapper" (click)="record()">
                <div class="float-image">
                    <img src="assets/record-circle-line (1).svg" *ngIf="!recordToggle">
                    <img src="assets/record-On.png" *ngIf="recordToggle">
                </div>
                <div class="float-text">
                    Record
                </div>
            </div>
            <div class="image-text-wrapper" (click)="layout()">
                <div class="float-image">
                    <img src="assets/layout-4-line.svg">
                </div>
                <div class="float-text">
                    Layout
                </div>
            </div>
            <div class="image-text-wrapper" (click)="lock()">
                <div class="float-image">
                    <img src="assets/lock-2-line.svg" *ngIf="!lockToggle">
                    <img src="assets/lock-2-line.png" *ngIf="lockToggle">
                </div>
                <div class="float-text">
                    Lock
                </div>
            </div>
            <div class="image-text-wrapper">
                <div class="float-image">
                    <img src="assets/tools-fill.svg">
                </div>
                <div class="float-text">
                    Tools
                </div>
            </div>
        </div>
    </div>
    <div class="meeting-main-screen" [class.no-bg]="videoToggle">
        <div class="dheko-logo">
            <img src="assets/logo-border.png">
        </div>
        <div class="no-video-wrapper" *ngIf="videoToggle">
            <img src="assets/black-user-shape.svg" class="no-video-image">
            <div class="no-video-elements">
                <span class="element mic"><img src="assets/mic11.png"></span>
                <span class="element"><img src="assets/no-video-red.svg"></span>
                <span class="element"><img src="assets/pan_tool-24px.svg"></span>
                <span class="name element">Nandi</span>
            </div>
        </div>
        <div class="call-button-wrapper">
            <span class="call-button mic" (click)="mic()"><img src="assets/Group 11124.png" *ngIf="!micToggle"><img
                    src="assets/Group 11124_1.png" *ngIf="micToggle"></span>
            <span class="call-button video" (click)="video()"><img src="assets/Group 11125.png" *ngIf="!videoToggle"><img
                    src="assets/Group 11131_2.png" *ngIf="videoToggle"></span>
            <span class="call-button group" (click)="partcipantBox()"><img src="assets/Group 11126.png"
                  *ngIf="!partcipantBoxToggle" class="partcipant-number">  <!-- <span class="parti-number"
                    *ngIf="!partcipantBoxToggle">24</span> -->
                <img src="assets/Group 11126_3.png" *ngIf="partcipantBoxToggle"></span>
            <span class="call-button share" (click)="share()"><img src="assets/Group 11127.png" *ngIf="!shareToggle"><img
                    src="assets/Group 11127_4.png" *ngIf="shareToggle"></span>
            <span class="call-button chat" (click)="chatBox()"><img src="assets/Group 11128.png" *ngIf="!chatBoxToggle"><img
                    src="assets/Group 11128_5.png" *ngIf="chatBoxToggle"></span>
            <span class="call-button end"><img src="assets/Group 11129.png"></span>
        </div>
        <div class="plus-icon" (click)="floatPanel()">
            <img src="assets/add-line.svg" *ngIf="!floatpanelToggle">
            <img src="assets/minus.png" *ngIf="floatpanelToggle">
        </div>
    </div>
</div>