.meeting-left-screen {
    width: 20%;
    height: 100vh;
    display: inline-block;
    background-color: #ffffffc9;
    padding-top: 2%;
    border: 1px solid #00adb5;
    position: absolute;
}

.meeting-main-screen {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    background-image: url(/assets/lady2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.dheko-logo img {
    width: 100%;
    height: auto;
}

.dheko-logo {
    width: 150px;
    text-align: right;
    margin-left: 4%;
    margin-top: 30px;
}
.meeting-right-float-screen {
    position: absolute;
    right: 0;
    top: 85px;
    height: 80vh;
    background: #11aeb5;
    border-radius: 10px 0px 0px 10px;
}
.person-wrapper {
    background-image: url(/assets/lady2.png);
    background-size: 100% 100%;
    width: 207px;
    height: 21%;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 4px 4.5px #00000012;
    position: relative;
    margin-bottom: 10%;
}

.person-elements {
    position: absolute;
    bottom: 0;
    background-color: #ffffffa3;
    padding: 0px 5px;
}

span.element {
    margin-right: 7px;
}

span.name.element {
    color: #707070;
    font-size: 15px;
    font-family: HelveticaNeueLTProIt;
}
.float-screen-wrapper {
    margin-top: 10px;
    text-align: center;
    padding: 3px;
}



.float-text {
    font-family: HelveticaNeueLTProIt;
    font-size: 14px;
    color: #f5f5f5de;
}

.image-text-wrapper {
    margin-bottom: 15px;
}
.plus-icon {
    text-align: center;
    width: 37px;
    position: absolute;
    bottom: 72px;
    right: 0px;
    height: 12vh;
    border-radius: 10px 0px 0px 10px;
    padding: 46px;
}
.plus-icon img {
    
    position: absolute;
    right: 0px;
    top: 0px;
}
.call-button-wrapper {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 80px;
    left: 35%;
    padding: 5px 30px;
    background-color: #ffffffa6;
}
span.call-button img {
    width: 62px;
    height: 62px;
}

span.element.mic img {
    width: 12px;
}
span.element.mic.mic-off img {
    width: 15px;
}
span.call-button.group {
    position: relative;
}

span.parti-number {
    position: absolute;
    right: 12px;
    top: -16px;
    font-size: 12px;
    color: #00adb5;
    font-family: helvetica;
    font-weight: bold;
}
.meeting-main-screen.no-bg {
    background-image: none;
}
.no-video-wrapper {
    position: absolute;
    top: 15%;
    left: 37%;
    border: 1px solid #00adb5;
    border-radius: 25px;
    box-shadow: 5px 5.5px #00000029;
}
img.no-video-image {
    padding: 80px 135px 50px 135px;
}
.no-video-elements {
    padding-left: 15px;
    padding-bottom: 10px;
}
.no-video-elements img {
    width: 25px;
}
.no-video-elements span.element.mic img {
    width: 15px;
}
.no-video-elements span.name.element {
    font-size: 20px;
    font-family: HelveticaNeueLTProItcondensed;
    vertical-align: middle;
}
span.call-button img, .image-text-wrapper, .plus-icon
{
    cursor: pointer;
}
.message-wrapper {
    position: absolute;
    top: 25px;
    right: 0px;
}

span.msg-txt {
    color: #707070;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 10px;
}

.message {
    background-color: #ffffffb8;
    padding:10px 70px 10px 30px;
    cursor: pointer;
}
span.call-button.end {
    margin-right: 0px;
}
.button-wrapper {
    display: inline-block;
    margin-right: 35px;
}
span.btn-txt {
    cursor: pointer;
    color: #707070;
}
.button-wrapper.end {
    margin-right: 0px;
}
.left-arrow.arrow {
    position: absolute;
    top: 40%;
    left: 7%;
}
.bottom-arrow.arrow {
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.top-arrow.arrow {
    position: absolute;
    top: 6%;
    left: 50%;
}

.right-arrow.arrow {
    position: absolute;
    right: 7%;
    top: 40%;
}
.left-arrow.arrow.move-left-arrow {
    left: 33%;
}

.top-arrow.arrow.move-top-arrow {
    left: 62%;
}

.bottom-arrow.arrow.move-bottom-arrow {
    left: 62%;
}