<app-search-bar></app-search-bar>
<div class="left-menu">
    <app-left-menu></app-left-menu>
</div>
<div class="personal-room-wrapper">
    <div class="user-text-wrapper">
        <span class="image-wrapper">
            <span class="box-image"><img src="/assets/Group 2784.png"><span class="image-text">DJ</span></span>
        </span>
        <span class="user-title"> Dav Joe's Meetings </span>
    </div>
    <div class="content-wrapper">
        <div class="meeting-bar">
            <div class="meeting-item active-meeting-item">
                Upcoming Meetings
            </div>
            <div class="meeting-item">
                Past Meetings
            </div>
        </div>
        <div class="meeting-table">
            <table>
                <tr class="table-header">
                    <th class="date">Date</th>
                    <th class="topic">Topic</th>
                    <th class="time">Duration</th>
                </tr>
                <tr class="table-row">
                    <td>Fri Jun 20, 01:29 PM IST</td>
                    <td>Back to Office meeting</td>
                    <td>20 min</td>
                </tr>
                <tr class="table-row">
                    <td>Fri Jun 20, 01:29 PM IST</td>
                    <td>Back to Office meeting</td>
                    <td>20 min</td>
                </tr>
                <tr class="table-row">
                    <td>Fri Jun 20, 01:29 PM IST</td>
                    <td>Back to Office meeting</td>
                    <td>20 min</td>
                </tr>
                <tr class="table-row">
                    <td>Fri Jun 20, 01:29 PM IST</td>
                    <td>Back to Office meeting</td>
                    <td>20 min</td>
                </tr>
            </table>
        </div>
    </div>
</div>