<div class="participant-box">
    <div class="participant-header">
        <div class="dheko-logo"><img src="assets/dhekologo.png"></div>
        <div class="participant-text"><input type="text" placeholder="Participants (25)" class="text-box"></div>
        <div class="participant-close"><img src="assets/close.png"></div>
    </div>
    <div class="participant-body">
        <div class="participant">
            <div class="user">
                <span class="participant-image"><img src="assets/user.png"></span>
                <span class="participant-name">Krishna Kumar (Host, me)</span>
            </div>
            <div class="user-tools">
                <span class="participant-mic"><img src="assets/mic11.png"></span>
                <span class="participant-pan"><img src="assets/pan_tool-24px.svg"></span>
                <span class="participant-video"><img src="assets/video0n.svg"></span>
                <div class="participant-host"></div>
            </div>
        </div>
        <div class="participant">
            <div class="user">
                <span class="participant-image"><img src="assets/user.png"></span>
                <span class="participant-name">Nandu</span>
            </div>
            <div class="user-tools">
                <span class="participant-mic mic-off"><img src="assets/mic-off.svg"></span>
                <span class="participant-pan"><img src="assets/pan-off.svg"></span>
                <span class="participant-video"><img src="assets/video.svg"></span>
                <div class="participant-non-host"></div>
            </div>
        </div>
        <div class="participant">
            <div class="user">
                <span class="participant-image"><img src="assets/user.png"></span>
                <span class="participant-name">Krishna Kumar</span>
            </div>
            <div class="user-tools">
                <span class="participant-mic"><img src="assets/mic11.png"></span>
                <span class="participant-pan"><img src="assets/pan_tool-24px.svg"></span>
                <span class="participant-video"><img src="assets/video0n.svg"></span>
                 <div class="participant-non-host"></div>
            </div>
        </div>
        <div class="participant">
            <div class="user">
                <span class="participant-image"><img src="assets/user.png"></span>
                <span class="participant-name">Krishna Kumar</span>
            </div>
            <div class="user-tools">
                <span class="participant-mic"><img src="assets/mic11.png"></span>
                <span class="participant-pan"><img src="assets/pan_tool-24px.svg"></span>
                <span class="participant-video"><img src="assets/video0n.svg"></span>
                 <div class="participant-non-host"></div>
            </div>
        </div>
        <div class="participant">
            <div class="user">
                <span class="participant-image"><img src="assets/user.png"></span>
                <span class="participant-name">Krishna Kumar</span>
            </div>
            <div class="user-tools">
                <span class="participant-mic"><img src="assets/mic11.png"></span>
                <span class="participant-pan"><img src="assets/pan_tool-24px.svg"></span>
                <span class="participant-video"><img src="assets/video0n.svg"></span>
                 <div class="participant-non-host"></div>
            </div>
        </div>
    </div>
    <div class="participant-button-wrapper">
        <button type="submit" class="btn participant-btn">Mute All</button>
        <button type="submit" class="btn participant-btn">Unmute All</button>
        <button type="submit" class="btn participant-btn active">Lower Hand</button>
        <button type="submit" class="btn participant-btn invite">Invite</button>
    </div>
</div>