<nav class="navbar navbar-expand-lg navbar-light bg-light nav-style">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> <span class="mobile-logo"><img src="../assets/logo.png"></span>
  <div class="collapse navbar-collapse nav-bar-style" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">FEATURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SOLUTIONS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PLAN & PRICING</a>
      </li>


      <li class="desktop-logo nav-item">
        <a><img src="../assets/logo.png"></a>
      </li>


      <li class="nav-item join-meeting">
        <a class="nav-link disabled" href="#">JOIN MEETING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HOST MEETING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SIGN IN</a>
      </li>
      <li class="nav-item sign-up-free">
        <a class="nav-link disabled" href="#">SIGN UP FREE</a>
      </li>
    </ul>

  </div>
</nav>
<div class="outer-wrapper">
  <div class="left-content">
    <div class="stay-connect">
      STAY CONNECTED
    </div>
    <div class="empower">
      Empower Your Remote Workforce with Secure Video Conferencing
    </div>
    <div class="button-section">
      <button type="button" class="btn try-btn">Try for Free</button>
      <button type="button" class="btn learn-btn">Learn More</button>
    </div>
  </div>
  <div class="right-content">
    <img class="right-content-image" src="../assets/homepage2 (1).png">
  </div>
</div>