<app-search-bar></app-search-bar>
<div class="left-menu">
    <app-left-menu></app-left-menu>
</div>
<div class="personal-room-wrapper">
    <div class="user-text-wrapper">
        <span class="image-wrapper">
            <span class="box-image"><img src="/assets/Group 2784.png"><span class="image-text">DJ</span></span>
        </span>
        <span class="user-title"> Dav Joe's Personal Room</span>
    </div>
    <div class="content-wrapper">
        <div class="left-content-wrapper">
            <div class="form-item" style="margin-top: 0px;">
                <label>Topic</label>
                <input type="text" class="text-box sign-up-text-box" placeholder="Enter the meeting topic...">
            </div>
            <div class="form-item">
                <label>Agenda</label>
                <textarea rows="3" class="text-box sign-up-text-box"
                    placeholder="Enter the meeting agenda..."></textarea>
            </div>
            <div class="form-item calendar-item">
                <span class="cal-date">
                    <label>Date</label>
                    <input type="date" class="text-box">
                </span>
                <span class="cal-time">
                    <label>Time</label>
                    <input type="text" class="text-box sign-up-text-box" placeholder="8:45 AM">
                </span>
                <span class="cal-duration">
                    <label>Duration</label>
                    <button class="dropdown-toggle text-box" type="button" data-toggle="dropdown">45 min</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">45 min</a></li>
                        <li><a href="#">30 min</a></li>
                        <li><a href="#">1 Hr</a></li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="right-content-wrapper">
            <div class="upcoming-text">
                Upcoming Meetings
            </div>
            <div class="time">
                Thursday, June 25, 2020
            </div>
            <div class="meeting-box">
                <div class="meeting">
                    <div class="meeting-image">
                        <span class="box-image"> <img src="/assets/landingPage.png"></span>
                    </div>
                    <div class="meeting-content">
                        <div class="meeting-heading">Justin's Meeting</div>
                        <div class="meeting-time">10:00 AM - 11:00 AM</div>
                        <div class="meeting-time">11:00 AM - 12:00 AM THU, US/PACIFIC</div>
                    </div>
                </div>
                <div class="meeting">
                    <div class="meeting-image">
                        <span class="box-image"> <img src="/assets/landingPage.png"></span>
                    </div>
                    <div class="meeting-content">
                        <div class="meeting-heading">John's Meeting</div>
                        <div class="meeting-time">10:00 AM - 11:00 AM</div>
                        <div class="meeting-time">11:00 AM - 12:00 AM THU, US/PACIFIC</div>
                    </div>
                </div>
                <div class="meeting">
                    <div class="meeting-image">
                        <span class="box-image"> <img src="/assets/landingPage.png"></span>
                    </div>
                    <div class="meeting-content">
                        <div class="meeting-heading">Peter's Event</div>
                        <div class="meeting-time">10:00 AM - 11:00 AM</div>
                        <div class="meeting-time">11:00 AM - 12:00 AM THU, US/PACIFIC</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>