<div class="menu-outer-wrapper desktop-menu">
    <div class="name-wrapper">
        <div class="name-img">
            <img src="assets/user.png">
        </div>
        <div class="name">
            Dav Joe
        </div>
        <div class="arrow">
            <img src="assets/down-arrow.png">
        </div>
    </div>
    <div class="menu-wrapper">
        <div class="menu-item" [class.active-menu]="currentUrl == '/home'">
            <span class="icon"><img src="assets/home-line.svg"></span>
            <span class="menu-element">Home</span>
        </div>
        <div class="menu-item" [class.active-menu]="currentUrl == '/meetings'">
            <span class="icon"><img src="assets/outline-people-24px.svg"></span>
            <span class="menu-element menu-element-adjust">Meetings</span>
        </div>
        <div class="menu-item" [class.active-menu]="currentUrl == '/schedule'">
            <span class="icon"><img src="assets/baseline-calendar_today-24px.svg"></span>
            <span class="menu-element menu-element-adjust">Schedules</span>
        </div>
        <div class="menu-item"> 
            <span class="icon"><img src="assets/record-circle-line.svg"></span>
            <span class="menu-element menu-element-adjust">Recordings</span>
        </div>
        <div class="menu-item">
            <span class="icon"><img src="assets/settings-3-line.svg"></span>
            <span class="menu-element menu-element-adjust">Settings</span>
        </div>
    </div>
</div>


<div class="mobile-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="mobile-logo"><img src="assets/dhekologo.png"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-mobile-wrapper" id="navbarNavAltMarkup">
            <div class="name-wrapper">
                <div class="name-img">
                    <img src="assets/user.png">
                </div>
                <div class="name">
                    Dav Joe
                </div>
                <div class="arrow">
                    <img src="assets/down-arrow.png">
                </div>
            </div>
          <div class="navbar-nav menu-wrapper">
            <div class="menu-item" [class.active-menu]="currentUrl == '/home'">
                <span class="icon"><img src="assets/home-line.svg"></span>
                <span class="menu-element">Home</span>
            </div>
            <div class="menu-item" [class.active-menu]="currentUrl == '/meetings'">
                <span class="icon"><img src="assets/outline-people-24px.svg"></span>
                <span class="menu-element menu-element-adjust">Meetings</span>
            </div>
            <div class="menu-item" [class.active-menu]="currentUrl == '/schedule'">
                <span class="icon"><img src="assets/baseline-calendar_today-24px.svg"></span>
                <span class="menu-element menu-element-adjust">Schedules</span>
            </div>
            <div class="menu-item">
                <span class="icon"><img src="assets/record-circle-line.svg"></span>
                <span class="menu-element menu-element-adjust">Recordings</span>
            </div>
            <div class="menu-item">
                <span class="icon"><img src="assets/settings-3-line.svg"></span>
                <span class="menu-element menu-element-adjust">Settings</span>
            </div>
          </div>
        </div>
        <div class="search-bar-wrapper">
            <input type="text" class="text-box menu-textbox search-textbox sign-up-text-box" placeholder="Search Here">
            <input type="text" class="text-box menu-textbox sign-up-text-box" placeholder="Enter Meeting ID to join a meeting">
        </div>
      </nav>
</div>