.menu-outer-wrapper {
    font-family: HelveticaNeueLTProIt;
    width: 100%;
    background-color: #00ADB5;
    color: #fff;
    height: 100%;
    font-size: 15px;
    padding-top: 25px;
}
.name-img img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.name {
    display: inline-block;
}
.name-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 15px;

}
.name-wrapper {
    background-color: #23B7BE;
    width: 95%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
.menu-wrapper {
    padding-top: 30px;
}
.icon {
    width: 24px;
    display: inline-block;
    height: 24px;
}
.icon img {
    width: 100%;
}
.menu-item {
    padding: 10px 0px;
    padding-left: 30px;
}
.active-menu {
    border-left: 3px #fff solid;
    background-color: #45C6CB;
}
.menu-element {
    margin-left: 20px;
}
.menu-element-adjust {
    padding-left: 3px;
}
.desktop-menu {
    display: block;
}
.mobile-menu {
    display: none;
}
.desktop-logo{
    width: 20%;
    display: inline-block;
}
.search-bar-wrapper {
    display: inline-block;
    width: 80%;
    text-align: right;
    padding-right: 5%;
}
.menu-textbox {
    border: 1px #BFC0C0 solid;
    border-radius: 0px;
    font-size: 12px;
    font-family: helvetica;
}
.search-textbox {
    margin-right: 15%
}
.text-box.sign-up-text-box {
    display: inline-block;
    width: 30%;
}
.desktop-logo img{
    width: 100%;
}
.logo-wrapper {
    margin: 0 auto;
    width: 60%;
    padding: 20px 10px;
}
.top-meeting-bar.desktop-menu {
    background-color: #fff;
}
.arrow {
    display: inline-block;
    margin-left: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) { 
    .desktop-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .menu-mobile-wrapper {
        background-color: #00ADB5;
        color: #fff;
        margin-top: 10px;
    }
    .name-wrapper {
        margin-top: 15px;
    }
    .search-bar-wrapper {
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }
    .text-box.menu-textbox.sign-up-text-box {
        width: 100%;
        margin: 10px 0px;
    }
}