<div class="sign-up-outer-wrapper">
    <div class="left-wrapper">
        <img src="assets/ladypic.jpg" class="sign-up-image">
    </div>
    <div class="right-wrapper">
        <!-- <div class="nav-section">
            <div class="nav-elements active">JOIN MEETING</div>
            <div class="nav-elements">HOST MEETING</div>
            <div class="nav-elements">SIGN IN</div>
        </div> -->
        <div class="sign-up-wrapper">
            <div class="sign-up-section">
                <div class="text-wrapper">
                    <div class="sign-up-text">Sign up with</div>
                    <span class="logo-sign-up"><img src="assets/dhekologo.png"></span>
                </div>
                <div class="sign-up-form">
                    <input type="text" class="text-box sign-up-text-box" placeholder="Username">
                    <input type="email" class="text-box" placeholder="Email">
                    <div class="password">
                    <input type="password" class="text-box" placeholder="Password" #password>
                    <img src="assets/vieweye.png" class="eye-img" (click)="passwordToogle(password)" *ngIf="!passwordEye">
                    <img src="assets/hide.png" class="eye-img" (click)="passwordToogle(password)" *ngIf="passwordEye">
                    </div>
                    <div class="password-text">
                        Password must be: <span>At least 8 characters, at least 1 uppercase, at least one number digit (ex: 0, 1, 2, 3, etc.), at least 1 special character (ex: ! # $ %etc.)</span>
                    </div>
                    <button type="submit" class="btn sign-up-btn">Sign Up</button>
                    <div class="terms">By sign up, you agree to Dheko's <span>Terms of service</span> and <span>Privacy Policy</span>.
                    </div>
                </div>
            </div>
            <div class="seperator">
                <span class="or">Or You can join with</span>
            </div>
            <div class="other-sign-up-section">
               <span class="google-sign-up"><img src="assets/Group 11761.png"></span>
               <span class="linkedIn-sign-up"><img src="assets/Group 11760.png"></span>
               <span class="apple-sign-up"><img src="assets/Group 11759.png"></span>
            </div>
            <div class="already-account">
                Already have an account? <span>Sign In</span>
            </div>
        </div>
    </div>
</div>