<div class="chat-box">
    <div class="chat-header">
        <div class="dheko-logo"><img src="assets/dhekologo.png"></div>
        <div class="chat-text">Group Chat</div>
        <div class="chat-close"><img src="assets/close.png"></div>
    </div>
    <div class="chat-set">
        <div class="chat-when">Today</div>
        <div class="other-chat">
            <div class="name-wrapper">
                <span class="name-img"><img src="assets/user.png"></span>
                <span class="name-text">Krishna Kumar</span>
            </div>
            <div class="other-text">
                <div class="text-box">How are you doing?</div>
                <div class="chat-time">11.54</div>
            </div>
        </div>
        <div class="my-chat">
            <div class="name-wrapper">
                <span class="name-img"><img src="assets/user.png"></span>
                <span class="name-text">You</span>
            </div>
            <div class="other-text">
                <div class="text-box">I am doing good. Thanks</div>
                <div class="chat-time">11.54</div>
            </div>
        </div>
    </div>
    <div class="mychat-box">
        <div class="mychat-header">
            <div class="header-left"> 
                To:<span class="chat-dropdown">
                    <button class="dropdown-toggle text-box" type="button" data-toggle="dropdown">Everyone</button>
                    <ul class="dropdown-menu">
                        <li>Everyone</li>
                    </ul>
                </span>
            </div>
           <div class="header-right">
               <span class="attach-image"><img src="assets/attachment-line.svg"></span>
               <span class="emotion-image"><img src="assets/emotion-happy-line.svg"></span>
           </div>
        </div>
        <div class="chat-body">
            <input type=text class="text-box chat">
        </div>
    </div>
</div>