<div class="sign-up-outer-wrapper">
    <div class="left-wrapper">
        <img src="../../assets/ladysignin.png" class="sign-up-image">
    </div>
    <div class="right-wrapper">
        <div class="nav-section">
            <div class="nav-elements active">JOIN MEETING</div>
            <div class="nav-elements">HOST MEETING</div>
        </div>
        <div class="text-outer-wrapper">
            <div class="text-wrapper">
                <span class="logo-sign-up"><img src="../../assets/logo.png"></span>
            </div>
            <div class="text-content">
                Check your inbox to get started
            </div>
            <div class="email-text">
                We sent an account activation link to <br/><span>davjoe@gmail.com</span><br/> It will expire in the next 24 hours.
            </div>
        </div>
    </div>
</div>