<div class="share-wrapper">
    <div class="share-header">
        <div class="share-dheko-logo"><img src="assets/dhekologo.png"></div>
        <div class="share-text">Share your Screen</div>
        <div class="share-close"><img src="assets/close.png"></div>
    </div>
    <div class="share-text-header">
        Dheko Meeting wants to share the contents of your screen with meeting.dekho.com. Choose what you'd like to share.
    </div>
    <div class="share-nav">
        <div class="share-nav-element active">Your Entire Screen</div>
        <div class="share-nav-element">Application Window</div>
    </div>
    <div class="share-section">
        <img class="share-section-img" src="assets/share screen2.png">
    </div>
    <div class="share-button-section">
        <button class="btn share-button">Share</button>
        <button class="btn cancel-button">Cancel</button>
    </div>
</div>