<div class="invite-wrapper">
    <div class="invite-header">
        <div class="invite-dheko-logo"><img src="assets/dhekologo.png"></div>
        <div class="invite-text"><span class="invite-logo"><img src="assets/user-add-line.svg"></span>Add Invitees</div>
        <div class="invite-close"><img src="assets/close.png"></div>
    </div>
    <div class="invite-body">
        <div class="invite-email-header">Email</div>
        <div class="invite-box">
            <textarea rows="3" class="text-box sign-up-text-box" placeholder="Separate email addresses with commas or press enter">
            </textarea>
        </div>
        <div class="invite-send">
            <button class="btn">Send</button>
        </div>
        <div class="share-link-text">Share joining link with participants</div>
        <div class="share-link">https://meeting.dheko.com/meeting/join?key=1073969806</div>
        <div class="invite-send">
            <button class="btn">Copy link</button>
        </div>
    </div>
</div>