<div class="pass-nav-wrapper">
    <div class="desktop-logo nav-item-desktop">
        <a><img src="assets/dhekologo.png"></a>
    </div>
</div>
<div class="pass-content-wrapper">
    <div class="pass-text">
        Create a password for your account so you can sign in to your Dheko site and to the Dheko Meetings desktop app and mobile app
    </div>
    <div class="pass-container">
        <div class="left-container">
            <div class="pass-user">
                <span class="user-label">Username: </span><span class="user-name">John_Doe</span>
            </div>
            <div class="pass-btn">
                <input type="password" placeholder="New password" class="text-box">
            </div>
            <div class="pass-btn">
                <input type="text" placeholder="Confirm new password" class="text-box">
            </div>
            <div class="pass-button">
                <button class="btn">Join Meeting</button>
            </div>
        </div>
        <div class="right-container">
            <div class="rules-title">Your password must follow these rules:</div>
            <div class="rule-text">At least 8 characters.</div>
            <div class="rule-text">At least 2 letters and a mix of uppercase and lowercase (ex: A,a,b,B,b etc.) </div>
            <div class="rule-text">At least one number digit (ex: 0, 1, 2, 3, etc.)</div>
        </div>
    </div>
</div>