.pass-nav-wrapper .desktop-logo.nav-item-desktop {
    display: inline-block;
    width: 25%;
}

.pass-nav-wrapper .desktop-logo.nav-item-desktop img {
    width: 40%;
}

.pass-nav-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
    background-color: #fff;
}
.pass-text {
    color: #343638;
    font-size: 30px;
    font-family: HelveticaNeueLTProIt;
    width: 953px;
}
.right-container,.left-container {
    display: inline-block;
}

.left-container {
    width: 30%;
}

.right-container {
    width: 60%;
    margin-left: 10%;
    vertical-align: top;
    margin-top: 25px;
}
.pass-container {
    margin-top: 5%;
}
span.user-label {
    color: #343638;
    font-size: 18px;
    font-family: HelveticaNeueLTProIt;
}

span.user-name {
    color: #707070;
    font-size: 18px;
    font-family: HelveticaNeueLTProIt;
}
.pass-user {
    margin-bottom: 25px;
}

.pass-btn {
    margin-bottom: 25px;
}
.pass-content-wrapper {
    margin-left: 10%;
    margin-top: 10%;
}
.pass-btn input {
    font-family: HelveticaNeueLTProIt;
    font-size: 18px;
}
.rules-title {
    font-family: HelveticaNeueLTProIt;
    font-size: 20px;
    margin-bottom: 20px;
    color: #343638;
}
.rule-text {
    color: #343638;
    font-size: 18px;
    font-family: HelveticaNeueLTProIt;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .pass-nav-wrapper .desktop-logo.nav-item-desktop {
        display: inline-block;
        width: 35%;
    }
    
    .pass-nav-wrapper .desktop-logo.nav-item-desktop img {
        width: 100%;
    } 
    .pass-text {
        width: 300px;
        font-size: 15px;
    }
    
    .left-container {
        width: 100%;
    }
    
    .right-container {
        width: 100%;
        margin-left: 0px;
    }
    
    .pass-content-wrapper {
        margin: 20px 15px;
    }
    span.user-label {
        font-size: 15px;
    }
    span.user-name {
        font-size: 15px;
    }
    .pass-btn input.text-box {
        font-size: 15px;
    }
    .rules-title {
        font-size: 15px;
    }
    .rule-text {
        font-size: 15px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { 
    .pass-text {
        width: 825px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { 
    .pass-text {
        width: 100%;
        font-size: 20px;
    }
    .pass-nav-wrapper .desktop-logo.nav-item-desktop img {
        width: 60%;
    }    
}