.nav-link {
    font-size: 11px;
    color: #343638 !important;
    font-weight: bold;
    opacity: .5;
}
.navbar-nav {
    margin: 0 auto;
width: 100%;
text-align: center;
}
.nav-style {
    background-color: #fff !important;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.nav-bar-style {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.join-meeting .nav-link {
   color: #343638;
   opacity: 1;
}
.desktop-logo {
    margin-left: 24%;
margin-right: 15%;
}
.sign-up-free {
    border: 1px #ef4141 solid;
border-radius: 25px;
}
.join-meeting {
   opacity: 1;
}
.left-content {
    display: inline-block;
    margin-top: 7%;
    width: 100%;
    padding-left: 7%;
}
.right-content {
    display: inline-block;
    width: 60%;
}
.right-content-image {
    width: 60%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.stay-connect {
    color: #00ADB5;
    font-size: 45px;
    font-family: HelveticaNeueLTProBd;
    font-weight: bold;
}
.empower {
    font-size: 32px;
    color: #343638;
    font-family: HelveticaNeueLTProRoman;
    width: 420px;
}
.try-btn {
    font-family: HelveticaNeueLTProIt;
    font-size: 25px;
    color: #fff;
    background: #EF4141;
    border-radius: 25px;
    width: 175px;
}
.learn-btn {
    font-family: HelveticaNeueLTProIt;
    font-size: 25px;
    color: #00ADB5;
    border: 1px solid #00ADB5;
    border-radius: 25px;
    margin-left: 25px;
    width: 175px;
    background-color: transparent;

}
.button-section {
    margin-top: 36px;
    width: 420px;
}
.mobile-logo {
    display: none;
}
.mobile-nav {
    display: none;
}
.desktop-nav {
    display: block;
}
.nav-section1 {
width: 30%;
}
.nav-section2 {
width: 35%;
}
.nav-section3 {
width: 35%;
}
.nav-item-desktop {
    display: inline-block;
}
.outer-wrapper {
    padding-top: 6%;
}
.desktop-logo img {
    width: 50%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .right-content-image {
        width: 100%;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .right-content-image {
        width: 100%;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .left-content {
        width: 100%;
    }
    .desktop-logo {
        display: none;
    }
    .mobile-logo {
        display: inline-block;
        width: 35%;
        text-align: left;
    }
    .mobile-logo img {
        width: 100%;
    }
    .button-nav {
        display: inline-block;
        text-align: right;
        width: 50%;
    }
    .navbar-toggler {
        display: inline-block !important;
        text-align: left !important;
    }
 
    .nav-bar-style {
        width: 40%;
        margin-top: 30px;
    }
    .stay-connect {
        font-size: 25px;
    }
    .empower {
        width: 320px;
        font-size: 21px;
    }
    .right-content {
        width: 100%;
    }
    .try-btn {
        font-size: 15px;
        width: 100px;
    }
    .learn-btn {
        font-size: 15px;
        width: 100px;
    }
    .button-section {
        margin-top: 36px;
        width: 320px;
        display: block;
    }
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 768px) and (orientation: landscape) { 
    .right-content-image {
        width: 50%;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.nav-item-desktop.sign-up-free {
    cursor: pointer;
}

.nav-item-desktop.join-meeting {
    cursor: pointer;
}


.desktop-logo.nav-item-desktop img {
    cursor: pointer;
}